.App {
  text-align: center;
  padding: 5px;
}

.pink_bar {
  background-color: pink;
  color: aliceblue;
}

.list {
  padding-left: 20px;
  margin-top: 20px;
  background-color: palevioletred;
  color: pink;
}